@import "vars";
@import "libs";
@import "fonts";

html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 18px;
  background-color: $main-bg;
  color: #fff;
  min-width: 320px;
}
.noScroll {
  overflow: hidden;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}
h2 {
  margin: 0;
}
.wrap {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}
.header {
  height: 100vh;
  min-height: 500px;
  position: relative;

  &-bg {
    position: absolute;
    background: linear-gradient(rgba(#000, 0.5), rgba(#000, 0.5)), url(../img/header-bg.jpg) no-repeat center;

    /* Create the parallax scrolling effect */
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;

    background-size: cover;
    height: 100%;
    width: 100%;
    z-index: -1;

    &::before {
      content: "";
      width: 100%;
      height: 100%;
      background: url(""), #fff;
      clip-path: polygon(100% 54%, 0 100%, 100% 100%);
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 0;
    }

    &::after {
      content: "";
      width: 100%;
      height: 100%;
      background: url(""), $main-color;
      clip-path: polygon(100% 0, 25% 0, 100% 100%);
      position: absolute;
      top: 0;
      right: 0;
      z-index: 0;
    }
  }

  &-content {
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    position: relative;
  }
}
.header-logo {
  position: absolute;
  left: 0;
  padding-left: 50px;
  color: #fff;
  text-transform: uppercase;
  z-index: 0;

  &__image {
    position: absolute;
    width: 52px;
    height: 52px;
    top: 19px;

    left: 133px;
    mix-blend-mode: lighten;
  }
  &__title {
    font-family: "Bebas-Regular";
    font-size: 34px;
    position: relative;

    span {
      color: $main-color;
    }
  }

  &__text {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    text-align: center;
  }
}

.header-nav {
  padding-right: 75px;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  &__item a {
    display: block;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    text-shadow: #000 2px 2px 7px;
    line-height: 27px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    position: relative;
    transition: 0.5s;
    &:hover {
      font-size: 17px;
      text-shadow: #000 1px 1px;
      margin-right: -4px;
    }
    &::after {
      display: block;
      content: "";
      position: absolute;
      width: 0%;
      height: 10%;
      bottom: -3px;
      left: 0;
      border-bottom: 2px solid rgba(#fff, 0.8);
      transition: 0.5s;
    }
    &:hover::after {
      width: 80%;
      box-shadow: #000 0px 1px 25px;
    }
  }

  li {
    display: inline-block;
  }

  li + li {
    margin-left: 15px;
    margin-right: 15px;
  }
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.header-links {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  padding-right: 50px;

  li + li {
    margin-left: 25px;
  }
  &__item:not(:nth-child(1)) {
    a {
      &:before {
        content: "";
        position: absolute;
        top: -20px;
        left: 50%;
        transform: translate(50%, -50%) scale(1);
        display: block;
        width: 40px;
        height: 40px;
        background: #fff;
        border-radius: 50px;
        transition: 1s;
      }
      &:hover {
        &:before {
          transition: 1s;
          transform: scale(5.7);
          box-shadow: #fff 5px 5px;
        }
        &:after {
          color: $main-color;
          transition-delay: 0.7;
        }
      }
    }
  }
  &__item {
    a {
      display: block;
      width: 50px;
      height: 50px;
      border: 3px solid #fff;
      border-radius: 100%;

      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      overflow: hidden;
    }
    a::after {
      font-family: "icomoon";
      font-size: 21px;
      color: #fff;
      z-index: 2;
    }

    &_gp::after {
      content: "\e902";
    }

    &_vk::after {
      content: "\e905";
    }

    &_fb::after {
      content: "\e903";
    }

    &_youtube::after {
      content: "\e904";
    }
  }
}
a.header-links__item_burger {
  display: none;
}

.header-main {
  left: 50%;
  min-height: 375px;
  width: auto;

  position: absolute;

  bottom: 20px;
  transform: translateX(-50%);

  img {
    min-height: 300px;
    height: 60vh;
    width: auto;
    display: block;
    margin: 0 auto;
    z-index: 1;
    animation: scale 5s ease-in-out;

    @keyframes scale {
      0% {
        transform: scale(0.93);
      }
      100% {
        transform: scale(1);
      }
    }
  }

  &__title {
    margin: 0 auto -25px;

    font-family: "Billy-Ohio";
    font-size: 11vh;
    font-weight: normal;
    line-height: 10vh;
    white-space: pre;
    text-align: center;

    text-shadow: #000 5px 5px 7px;
  }
}
.services {
  background-image: linear-gradient(to bottom, #fff, $main-bg 25%);
  padding-bottom: 150px;
}
.services-items {
  margin: 0 auto;
  padding-top: 50px;
  max-width: 1170px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.services-item {
  max-width: 350px;
  width: 100%;
  &__img {
    max-width: 100%;
    position: relative;
    img {
      width: 100%;
      height: auto;
    }
  }
  &__img:hover {
    .overlay::before {
      bottom: -5px;
      left: -5px;
    }
    img {
      filter: blur(2px) grayscale(50%);
      transition: 0.5s;
    }

    .overlay-info {
      bottom: 15px;
      left: 15px;
      transform: scale(1.15);
      transition: 0.5s;
    }
  }
  &__overlay::before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: -20px;
    left: -20px;
    border-width: 160px 0 0 160px;
    border-color: transparent transparent transparent $main-color;
    border-style: solid;
    transition: 0.5s;
  }

  &__title {
    padding-top: 50px;
    font-family: "HelveticaLTStd";
    font-size: 26px;
    letter-spacing: -0.65px;
    color: #202020;
  }

  &__text {
    padding-top: 15px;
    padding-bottom: 35px;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.6px;
    color: #676767;
  }

  &__btn {
    display: inline-block;
    padding: 10px 30px;
    color: #fff;
    background-color: $main-color;
    transition: 0.5s;
    border-radius: 20px;

    font-family: "BebasNeue-Book";
    font-size: 21px;
    font-weight: 600;
    &:hover {
      background-color: #fff;
      color: $main-color;
    }
  }
}

.overlay-info {
  position: absolute;
  bottom: 5px;
  left: 5px;
  transition: 0.7s;

  &__title {
    font-family: "Bebas-Regular";
    font-size: 56px;
    span {
      font-size: 36px;
    }
  }
  &__description {
    font-family: "BebasNeue-Book";
    font-size: 22px;
    letter-spacing: 1.1px;
  }
}
.about-us {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  min-height: 590px;
}
.advantages {
  width: 50%;
  padding-right: 150px;
  padding-top: 65px;
  background-color: $main-color;
  position: relative;
  z-index: 3;
  &-container {
    max-width: 500px;
    margin-left: auto;
  }
  
  &__title {
    font-family: "BebasNeue-Book";
    font-weight: 800;
    font-size: 62px;
    padding-bottom: 30px;
  }
  &-item {
    padding-bottom: 45px;

    &__title {
      font-family: "HelveticaLTStd";
      font-size: 26px;
      letter-spacing: -0.65px;
    }
    &__text {
      margin: 0;
      padding-top: 15px;
      color: rgba(#fff, 0.44);
    }
	}
	&__img{
		width: 1px;
		height: 1px;
		position: relative;
		&::after {
			content: "";
			height: 767px;
			width: 358px;
			top: 0;
			bottom: 0;

			z-index: 10;
			background: url(../img/about-us-moto.png) no-repeat;
			position: absolute;
			right: calc(-358px / 2);
			top: 50%;
			transform: translateY(-50%);
		}
	}
}
.team {
  width: 50%;
  padding-left: 200px;
  background-color: #fff;
  padding-top: 80px;
  z-index: 1;
  &-person {
    max-width: 450px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
  }
  &-dsc {
    padding-left: 30px;
    color: #5e5e5e;
    &_reverse {
      order: -1;
    }
    &__title {
      font-family: "Bebas-Regular";
      font-size: 48px;

      span {
        padding-left: 25px;
        font-family: "BebasNeue-Book";
        font-size: 25px;
        color: #979797;
        vertical-align: middle;
      }
    }
    &__text {
      display: inline-block;
      margin: 0;
      color: rgba(#000, 0.66);
      line-height: 27px;
      font-weight: 700;
    }
  }
}
.reviews {
  padding-top: 140px;
  background-color: $main-bg;
  &__title {
    padding-bottom: 30px;
    text-align: center;
    font-family: "Bebas-Regular";
    font-weight: 600;
    font-size: 68px;
    color: #000;
    span {
      color: $main-color;
    }
  }
  &__text {
    padding-bottom: 25px;
    color: #5d5c5c;
    font-weight: 700;
    line-height: 26px;
  }
  &__main {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  &__comments {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  &__slider {
    width: 100%;
    max-width: 570px;
    background-color: #fff;
  }
  &__img {
    margin-left: 100px;
    width: 50%;
    height: auto;
    img {
      vertical-align: bottom;
    }
  }
}
.slider-btn {
  position: absolute;
  bottom: 30px;
  font-size: 25px;
  font-weight: 10;
  color: #000;
}
.icon-arrow-right {
  right: 47%;
}
.icon-arrow-left {
  right: 53%;
}

.slider {
  color: #212121;
  position: relative;
  &-slide {
    padding: 40px 80px 70px;
  }
  &-user {
    display: flex;
    justify-content: center;
    align-items: center;
    &__img {
      margin-right: 15px;
    }
    &__name {
      font-family: "Bebas-Regular";
      font-size: 23px;
      line-height: 30px;
    }
    &__dsc {
      font-family: "BebasNeue-Book";
      font-size: 20px;
      font-weight: 600;
      line-height: 29px;
    }
  }
  &__feedback {
    padding-top: 40px;
    font-style: italic;
    line-height: 27px;
  }
}
.travels {
  background-color: #000;
  position: relative;
  mix-blend-mode: darken;
  .wrap {
    max-width: 900px;
  }
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(../img/travels-bg.png) no-repeat center center;
    background-size: cover;
    z-index: -1;
  }
  &__title {
    padding-top: 95px;
    padding-bottom: 25px;

    font-family: "Bebas-Regular";
    font-weight: 500;
    font-size: 68px;
    letter-spacing: -1px;
    text-transform: uppercase;
    white-space: nowrap;

    span {
      color: $main-color;
    }
  }
  &__text {
    padding-bottom: 65px;

    font-weight: 500;
    line-height: 26px;
  }
  &-main {
    display: flex;
    justify-content: center;
  }
}

.info {
  width: 50%;
  height: 540px;

  &-left {
    padding-left: 15px;
    background-color: $main-color;
    position: relative;
    .info-wrap {
      margin-left: auto;
      margin-right: 150px;
    }
    &::after {
      content: "";
      height: 689px;
      width: 382px;

      z-index: 10;
      background: url(../img/travels-moto.png) no-repeat;
      position: absolute;
      right: calc(-382px / 2);
      top: 55%;
      transform: translateY(-50%);
    }
  }
  &-right {
    padding-right: 15px;
    .info-wrap {
      margin-right: auto;
      margin-left: 150px;
    }
  }

  &-wrap {
    padding-top: 120px;
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
  }
  &__item {
    width: 50%;
    text-align: center;
    padding-bottom: 105px;

    font-family: "Bebas-Regular";
    font-size: 65px;
    span {
      font-size: 29px;
    }
    &_dsc {
      font-size: 29px;
    }
  }
  &__text {
    text-align: center;
  }
}
.info__item + .info__item {
  padding-left: 10px;
}
.blog {
  z-index: -1;
  padding-bottom: 70px;

  &-item__img:hover {
    .overlay::before {
      bottom: -5px;
      left: -5px;
      transition: 0.5s;
    }
    img {
      filter: blur(2px) grayscale(50%);
      transition: 0.5s;
    }

    .overlay-info {
      bottom: 18px;
      left: 18px;
      transform: scale(1.15);
      transition: 0.5s;
    }
  }

  .overlay-info {
    &__title {
      font-size: 36px;
    }

    &__description {
      font-size: 21px;
    }
  }
  &__title {
    padding-top: 95px;
    padding-bottom: 25px;
    color: #1a1919;
    font-family: "Bebas-Regular";
    font-weight: 500;
    font-size: 68px;
    letter-spacing: -1px;
    text-transform: uppercase;
    white-space: nowrap;
  }
  &__text {
    color: #1a1919;
    padding-bottom: 65px;

    font-weight: 500;
    line-height: 26px;
  }
}
.blog-items {
  margin: 0 auto;
  padding-top: 10px;
  max-width: 1170px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.blog-item {
  max-width: 350px;
  width: 100%;
  &__img {
    max-width: 100%;
    position: relative;
    img {
      width: 100%;
      height: auto;
    }
  }
  &__overlay::before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: -20px;
    left: -20px;
    border-width: 160px 0 0 160px;
    border-color: transparent transparent transparent $main-color;
    border-style: solid;
  }

  &__title {
    padding-top: 50px;
    font-family: "HelveticaLTStd";
    font-size: 26px;
    letter-spacing: -0.65px;
    color: #202020;
  }

  &__text {
    padding-top: 15px;
    padding-bottom: 35px;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.6px;
    color: #676767;
  }
}

.start {
  background: url(../img/start.png);
  background-size: cover;
  width: 100%;
  position: relative;
  &::after {
    content: "\f041";
    position: absolute;
    font-family: "icomoon";
    font-size: 200px;
    color: $main-color;
    bottom: -25%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
  }

  &__title {
    padding-top: 95px;
    padding-bottom: 25px;

    font-family: "Bebas-Regular";
    font-weight: 500;
    font-size: 68px;
    letter-spacing: -1px;
    text-transform: uppercase;
    white-space: nowrap;
  }
  &__text {
    padding-bottom: 150px;
    font-weight: 500;
    line-height: 26px;
  }
}

.contacts {
  padding: 125px 30px 0;
  &-left {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-inner {
    padding-bottom: 65px;
    margin: 0 auto;
    max-width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  &-item {
    color: #262626;
  }
  &-right {
    max-width: 200px;
    margin: 0 auto;
  }
  &__title {
    font-family: "HelveticaLTStd";
    font-size: 26px;
    line-height: 10px;
    letter-spacing: -0.65px;
    text-align: center;
    margin-left: 15px;
  }
  &__text {
    line-height: 26px;
    text-align: center;
  }
}
.contacts-links {
  padding-bottom: 75px;
  display: flex;
  justify-content: center;

  li + li {
    margin-left: 35px;
  }
  &__item {
    a {
      display: block;
      width: 50px;
      height: 50px;
      border: 3px solid #f0d839;
      border-radius: 100%;
      background-color: #ededed;
      overflow: hidden;

      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      //------------

      &:before {
        content: "";
        position: absolute;
        z-index: 0;
        top: -20px;
        left: 50%;
        transform: translate(50%, -50%) scale(1);
        display: block;
        width: 40px;
        height: 40px;
        background: $main-color;
        border-radius: 50px;
        transition: 1s;
      }
      &:hover {
        &:before {
          transition: 1s;
          transform: scale(5.7);
          box-shadow: #fff 5px 5px;
        }
        &:after {
          color: #fff;
          transition-delay: 0.7;
        }
      }

      //------------
    }
    a::after {
      font-family: "icomoon";
      font-size: 21px;
      color: #353535;
      z-index: 1;
    }

    &_gp::after {
      content: "\e902";
    }

    &_vk::after {
      content: "\e905";
    }

    &_fb::after {
      content: "\e903";
    }

    &_youtube::after {
      content: "\e904";
    }
    &_in::after {
      content: "\e901";
    }
    &_digg::after {
      content: "\e900";
    }
    &_deviant::after {
      content: "\f1bd";
    }
  }
}
.copy {
  padding: 50px 0;
  background-color: $main-color;
  &__text {
    margin: 0 auto;
    max-width: 350px;

    text-align: center;
    line-height: 36px;
    font-weight: 400;
    letter-spacing: 0.9px;
  }
}
#myBtn {
  display: none; /* Hidden by default */
  width: 75px;
  height: 75px;
  position: fixed; /* Fixed/sticky position */
  bottom: 10%; /* Place the button at the bottom of the page */
  right: 6%; /* Place the button 30px from the right */
	border: 3px solid #fff;
	padding: 0;
  z-index: 99; /* Make sure it does not overlap */

  outline: none; /* Remove outline */
  background-color: $main-color; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */

  border-radius: 100%; /* Rounded corners */
  font-size: 18px; /* Increase font size */

  &:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }
  
  &::before {
    content: "\f077";
    position: absolute;
    left: 50%;
    top: 50%;
		transform: translate(-51%, -50%);
    
		border-radius: 100%;
		
    
		font-family: "icomoon";
		line-height: 70px;
  }
}

@import "media";
